[submodule "signbert/model/thirdparty/st_gcn"]
	path = signbert/model/thirdparty/st_gcn
	url = git@github.com:joshuasv/st_gcn.git
[submodule "signbert/model/thirdparty/MS_G3D"]
	path = signbert/model/thirdparty/MS_G3D
	url = git@github.com:joshuasv/MS_G3D.git
[submodule "signbert/model/thirdparty/manotorch"]
	path = signbert/model/thirdparty/manotorch
	url = https://github.com/lixiny/manotorch.git
