[submodule "signbert/model/thirdparty/MS_G3D"]
	path = signbert/model/thirdparty/MS_G3D
	url = https://github.com/kenziyuliu/MS-G3D.git
[submodule "signbert/model/thirdparty/spat_temp_st_gcn"]
	path = signbert/model/thirdparty/spat_temp_st_gcn
	url = https://github.com/vanoracai/Exploiting-Spatial-temporal-Relationships-for-3D-Pose-Estimation-via-Graph-Convolutional-Networks.git
[submodule "signbert/model/thirdparty/st_gcn"]
	path = signbert/model/thirdparty/st_gcn
	url = https://github.com/yysijie/st-gcn.git
